.section-title {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  letter-spacing: -0.88px;
  font-weight: 400;
  border-bottom: 1px solid #dadada;
  width: 100%;
}
/* Стили для мобильных устройств (320px) */
@media screen and (max-width: 320px) {
  .section-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    padding-bottom: 29px;
  }
}
