.movie-card {
  position: relative;
  max-width: 360px;

  box-sizing: border-box;
  border-radius: 6px;
  background: #222;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.movie-card__trailer {
  display: block;
  cursor: pointer;
}

.movie-card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
}

.movie-card__description {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.movie-card__name {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card__duration {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #8b8b8b;
  flex-shrink: 0;
}

@media screen and (max-width: 1180px) {
  .movie-card {
    max-width: 100%;
  }

  .movie-card__name {
    max-width: 200px;
  }

  .movie-card__description {
    margin-top: 23px;
    padding: 0;
  }
}

@media screen and (max-width: 740px) {
  .movie-card__name {
    max-width: 160px;
  }
}

@media screen and (max-width: 600px) {
  .movie-card__description {
    margin-top: 16px;
  }

  .movie-card__name {
    font-size: 12px;
    max-width: 200px;
  }
}
