.movies {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 60px 0 80px;
}

.movies__more {
  width: 100%;
  margin-top: 50px;
  padding: 11px 0 9px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: inherit;
  background-color: #2F2F2F;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.movies__more:hover {
  opacity: .8;
}

@media screen and (max-width: 1200px) {
  .movies {
    padding: 80px 30px 80px;
  }
}

@media screen and (max-width: 900px) {
  .movies {
    padding: 76px 30px 80px;
  }
}

@media screen and (max-width: 600px) {
  .movies {
    padding: 76px 10px 80px;
  }
}