.error {
  padding: 250px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error__title {
  margin: 0;
  font-weight: 400;
  text-align: center;
  font-size: 140px;
}

.error__text {
  margin: 0;
  margin-top: 9px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.error__back {
  margin-top: 184px;
  font-size: 14px;
  color: #4285f4;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.error__back:hover{
  opacity: .7;
}

@media screen and (max-width: 900px) {
  .error {
    padding: 412px 30px 220px;
  }

  .error__back {
    margin-top: 185px;
  }
}

@media screen and (max-width: 540px) {
  .error {
    padding: 332px 30px 30px;
  }

  .error__title {
    font-size: 80px;
  }

  .error__text {
    margin-top: 13px;
    font-size: 12px;
  }

  .error__back {
    margin-top: 284px;
    font-size: 12px;
  }
}