.navigation {
  margin: auto;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.navigation_logged {
  justify-content: space-between;
}
.burger-button {
  display: none;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../../images/burger.svg");
  background-size: 44px 44px;
  background-position: top -4px right 0;
  background-repeat: no-repeat;
}

.burger-button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 860px) {
  .burger-button {
    display: block;
  }
}
