.saved-movies {
  width: 100%;
  box-sizing: border-box;
  padding: 60px 0 214px;
}

@media screen and (max-width: 1200px) {
  .saved-movies {
    padding: 77px 30px 214px;
  }
}

@media screen and (max-width: 900px) {
  .saved-movies {
    padding: 77px 30px 164px;
  }
}

@media screen and (max-width: 600px) {
  .saved-movies {
    padding: 76px 10px 138px;
  }
}