.tech__cards {
  margin: 100px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.tech__item {
  margin: 0;
  padding: 0;
}

.tech__card {
  display: block;
  padding: 21px 0 22px;
  width: 90px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.56px;
  color: #fff;
  background-color: #303030;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .tech__cards {
    margin-top: 83px;
  }

  .tech__card {
    width: 84px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 720px) {
  .tech__cards {
    margin: 50px 32px 0;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 360px) {
  .tech__cards {
    margin: 48px 53px 0;
    justify-content: flex-start;
    gap: 8px;
  }
}