.footer {
  padding: 0 70px 0 70px;
  margin: 0 0 20px 0;
}
.footer__title {
  margin: 0;
  color: #8b8b8b;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #424242;
  padding: 0 0 20px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.footer__list {
  margin: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}
.footer__link {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s linear;
}
.footer__link:hover {
  opacity: 0.7;
}
.footer__date {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Стили для планшетов (768px) */
@media screen and (min-width: 321px) and (max-width: 768px) {
  .footer {
    padding: 55px 30px 20px 30px;
  }
}

/* Стили для мобильных устройств (320px) */
@media screen and (max-width: 320px) {
  .footer {
    padding: 59px 10px 20px 10px;
  }
  .footer__title {
    font-size: 12px;
  }
  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 28px 0 0 0;
  }
  .footer__list {
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 0;
  }
  .footer__date {
    padding: 30px 0 0 0;
    font-size: 12px;
  }
  .footer__link {
    font-size: 12px;
  }
}
