.about-me {
  margin: 0;
  padding: 110px 70px 101px 70px;
}
.about-me__container {
  display: flex;
  flex-direction: row;
  gap: 270px;
  margin: 66px 0 0 0;
}
.about-me__info {
  margin: 0;
  padding: 0;
}
.about-me__title {
  margin: 0 0 18px 0;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}
.about-me__subtitle {
  margin: 0 0 26px 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.about-me__text {
  margin: 0 0 99px 0;
  padding: 0;
  max-width: 600px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.about-me__github-link {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
  transition: 0.3s linear;
}
.about-me__github-link:hover {
  opacity: 0.7;
}
.about-me__img {
  width: 270px;
  height: 327px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about-me__container {
    gap: 48px;
  }
}
/* @media screen and (min-width: 321px) and (max-width: 768px) {
  .about-me__container {
    flex-direction: column-reverse;
    margin: 58px px 0 0 0;
    gap: 40px;
  }
} */
/* Стили для планшетов (768px) */
@media screen and (min-width: 321px) and (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }
  .about-me__title {
    margin: 0 0 15px 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
  .about-me__subtitle {
    margin: 0 0 20px 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
  }
  .about-me__text {
    margin: 0 0 86px 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }
  .about-me__github-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .about-me__img {
    width: 255px;
    height: 307px;
  }
  .about-me__container {
    gap: 49px;
    /* flex-direction: column-reverse;
    margin: 58px px 0 0 0; */
  }
}

/* Стили для мобильных устройств (320px) */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about-me {
    padding: 68px 14px;
  }
  .about-me__container {
    flex-direction: column-reverse;
    margin: 58px 0 0 0;
    gap: 40px;
  }
  .about-me__img {
    width: 292px;
    height: 352px;
  }
  .about-me__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  .about-me__subtitle {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 145.455% */
    margin: 0 0 23px 0;
  }
  .about-me__text {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    margin: 0 0 39px 0;
  }
  .about-me__github-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
